$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC, robinsEggBlue: #00C3F0,
        black: #000000,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}
$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;

$desktop: 768px;
$monitor: 1192px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

.collapse-toggle {
    color: color(deepSeaGreen);
    background-color: color(alabaster);
    border: 1px solid color(silverSand);
    padding: 3vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 4.25vw;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
}

.collapse-toggle.shown {
    color: color(curiosBlue);
    cursor: pointer;
    border-color: color(curiosBlue);
}

#accordion-lead, .refer-text {
    color: color(mirage80);
    font-size: 3vw;
    text-align: center;
    font-weight: 300;
    margin: 1.5em;
}

.accordion {
    margin-top: 1.5rem;
    padding: 1.5vw 3vw;
    justify-content: center;
    text-align: center;
    @include desktop {
        display: none;
    }
    .section-desc {
        display: none;
        @include desktop {
            display: block;
        }
    }
}

.section-desc {
    font-weight: 300;
    text-align: center;
    font-size: 4vw;
    @include desktop {
        font-size: 1.5vw;
    }
    @include monitor {
        font-size: 1.25vw;
    }
}

.collapse-content {
    width: 96%;
    margin: 1vw auto 0;
    padding: .5vw 0 3vw;
    background-color: color(alabaster);
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
