$desktop: 800px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

.area-image {
    width: 35%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 15;
    vertical-align: baseline;
    left: 2.25vw;
    top: 1vw;
    margin-right: 9vw;
    @include monitor {
        margin-right: 6vw;
        width: 60%;
        left: 2.25vw;
        top: 2.25vw;
    }
}

#area-list {
    .area {
        display: flex;
        align-items: center;
        margin-bottom: 12vw;

        .text {
            width: 55%;
        }
        @include monitor {

            .text {
                width: 75%;
            }
        }
    }
    .area:nth-child(even) {
        flex-direction: row-reverse;
        .area-image {
            margin-right: 0;
            margin-left: 5vw;
            left: 0;
        }
        @include desktop {
        }
    }

    .area:nth-child(7) {
        margin-bottom: 0;
        @include desktop {

        }
    }
}

#areas {
    padding-bottom: 9vw;
    @include desktop {
        padding-top: 5vw;
    }

    h4 {
        margin-left: 6vw;
        @include desktop {
            margin-left: 12vw;
        }
    }
}

.area {
    position: relative;
    width: 90%;

    @include monitor {
        width: 70%;
        margin: 6rem auto;
    }
    hr {
        width: 70px;
        border: 2px solid #27A1DA;
        margin-left: 0;
    }
    margin: 2rem auto;

    p {
        @include desktop {
            font-size: 1.5vw;
        }
        font-weight: 300;
    }

    li {
        margin: 1vw 0;
        @include desktop {
            font-size: 1.125vw;
        }
    }

    .services {
        margin-top: 1.5vw;
    }
}

.area::after {
    background: #27A1DA;
    border-radius: 5px;
    content: "";
    display: block;
    max-width: 30vw;
    max-height: 30vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 85%;
    z-index: 0;

    @include monitor {
        max-width: 28vw;
        max-height: 29.75vw;
    }
}

.area:nth-child(even)::after {
    left: 63vw;

    @include monitor {
        left: 43.5vw;
    }
}
