$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC, robinsEggBlue: #00C3F0,
        black: #000000,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}
$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;

$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}


html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
    width: 100%;
    color: color(mirage);
}

a {
    text-decoration: none;
    color: color(mirage);
}

a:hover {
    text-decoration: underline;
    color: color(curiosBlue);
}

.btn-link:hover, .social span svg:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.page-mask {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
}

main {
    margin-top: $navBarHeight;
    display: block;
}

.dark {
    background-color: #fafafa;
    @include desktop {
        background-color: #EEEEEE;
    }
}

.section-title {
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;

    @include desktop {
        font-size: 2.5vw;
    }

    @include monitor {
        font-size: 2.5vw;
    }
}

.btn-link {
    -webkit-border-radius: $webkitRadius;
    border-radius: $borderRadius;
    cursor: $pointer;
    text-decoration: none;
    font-size: 1.25vw;
    display: inline-block;
    border-color: color(curiosBlue);
    border-style: solid;
    text-align: center;
    background-color: color(curiosBlue);
    color: color(white);
}

.btn-link:hover {
    background-color: color(white);
    color: color(curiosBlue);
    transition: all .5s ease-in-out;
}

.tutor-btn {
    padding: .7rem 1.2rem;
    margin: 3vw 4vw 1.25vw;
    @include desktop {
        margin: .5vw 2vw 1.25vw;
    }
    border-width: 1px;
    font-size: .9em;
}

.tutor-btn:hover {
    border-width: 2px;
}

.services {
    padding: .4rem 1.4rem;
    font-size: 1.25rem;
    @include monitor {
        padding: .5rem 1.5rem;
    }
}

.refer {
    margin-bottom: 3vw;
    padding: .45rem 1.75rem;
    font-size: 1.5rem;
    @include desktop {
        margin-bottom: 0;
        font-size: 1.125rem;
    }
    @include monitor {
        font-size: 1.5rem;
    }
}

.info {
    font-weight: 300;
    font-size: .8em;
    text-align: center;
}

.refer-text {
    @include desktop {
        font-size: 1.125vw;
        margin: 0 0 1vw 0;
    }
}

.bold {
    font-weight: bold;
}

#desktop-view {
    display: none;
    @include desktop {
        display: block;
        .section-title {
            margin-bottom: 0;
        }

        .section-desc {
            margin-top: .5vw;
        }
    }
}

.section-desc {
    font-weight: 300;
    text-align: center;
    font-size: 4vw;
    @include desktop {
        font-size: 1.5vw;
    }
    @include monitor {
        font-size: 1.25vw;
    }
}

