$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

#be-a-tutor {
    @include desktop {
        padding: 3vw 5vw 7vw;
    }
}

.become-icon {
    margin: 7vw 0;
    @include desktop {
        border: 1px solid rgba(27, 37, 49, 0.25);
        border-radius: 5px;
        margin: 2vw auto;
        width: 90%;
    }
}
