$colors: (
        mirage64: rgba(27, 37, 49, 0.64),
    // borders and accordion
        alabaster: #FAFAFA
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 800px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (max-width: #{$monitor}) {
        @content;
    }
}

footer {
    background: color(alabaster);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6vw 2vw;

    a {
        font-size: 4.5vw;
        font-weight: 600;
    }

    .copyright {
        font-weight: 300;
        margin-top: 4vw;
        font-size: 3.5vw;
        @include desktop {
            font-size: 1rem;
            margin-top: inherit;
            margin-bottom: inherit;
        }
        @include monitor {
            font-size: 1.125rem;
        }
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1vw;

        a {
            font-size: 1rem;
            margin-right: 25px;
        }
    }
    @include monitor {
        a {
            font-size: 1.125rem;
        }
    }
}
