$colors: (
    // content
        mirage64: rgba(27, 37, 49, 0.64),
);

@function color($name) {
    @return map_get($colors, $name);
}

$tab: 450px;

@mixin tab {
    @media (min-width: #{$tab}) {
        @content;
    }
}

$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

$monitor: 1024px;

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

$hd: 1330px;

@mixin hd {
    @media (min-width: #{$hd}) {
        @content;
    }
}

%modals {
    background-color: white;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include desktop {
        top: 35%;
    }
    @include monitor {
        top: 50%;
    }
}
%header {
    font-weight: bold;
    margin: 1vw 0 2vw;
    @include desktop {
        margin: 1vw 0;
        font-size: 1.5rem;
    }
    font-size: 1.25rem;
}

%p {
    background-color: #FAFAFA;
}

%headers {
    @extend %p;
    border-radius: 5px 5px 0 0;
}

%footers {
    @extend %p;
    border-radius: 0 0 5px 5px;
}
%close {
    right: 10px;
    top: 5px;
    position: absolute;
    cursor: pointer;
}

#tutor-forms {
    @extend %modals;
    border-radius: 10px;
    width: 90%;
    .body {
        display: flex;
        flex-wrap: wrap;
        padding: 2vw 0 1vw;
        overflow-y: scroll;
        max-height: 50vh;
        @include desktop {
            max-height: 100%;
            padding: 1.5vw 1vw 1vw;
            overflow-y: hidden;
        }
    }
    .close-icon {
        @extend %close;
    }

    .header {
        @extend %headers;
        padding: 5px;
        @include desktop {
            padding: 2vh;
        }
    }
    .footer {
        @extend %footers;
        padding: 5px;
        @include desktop {
            padding: 2vh;
        }
    }

    @include desktop {
        width: 90%;
    }
    @include monitor {
        width: 70%;
    }
    a {
        display: block;
    }

    .area-link {
        padding: 4vw 0;
        margin: 0 auto 2vw;
        font-size: 4vw;
        color: #4a6577;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        width: 80%;
        @include desktop {
            font-size: 1rem;
            padding: 1.5vw 0;
            margin-bottom: 2.5vh;
            width: 40%;
        }
        @include monitor {
            width: 40%;
            padding: .75vw 0;
            margin-bottom: 3vh;
        }
        &:hover {
            text-decoration: none;
            color: white;
            background-color: #0071A5;
            transition: all .5s ease-in-out;
            box-shadow: 0 4px 4px rgba(27, 37, 49, 0.13);
        }
    }
    .area-link:nth-of-type(9) {
        margin-bottom: 0;
    }

    .learn {
        font-weight: 300;
        font-size: .9em;
        margin: 4vh 3vw 4vh 0;
        @include desktop {
            margin: 2vh 3vw 2vh 0;
        }
        text-align: right;
    }

    h4 {
        @extend %header;
        font-weight: 300;
    }
}
