$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}
#landing {
    padding: 5vw 4vw;
    background-image: url("../assets/images/landing/desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mobile-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding-bottom: 3vw;
    @include desktop {
        display: none;
    }
}

@include desktop {
    .landing-image {
        display: none;
    }
}

.landing-image {
    width: 100%;
    height: auto;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
        width: 50%;
        margin-left: 7vw;
    }
    #dark-box {
        font-size: 5vw;
        @include desktop {
            color: #00C3F0;
            font-size: 2.375vw;
            padding: 1vw;
            text-align: center;
            background: rgba(0, 0, 0, 0.65);
            border-radius: 10px;
        }
    }
    p {
        font-weight: bold;
        text-align: center;
        @include desktop{
            margin: 2vw 1vw;
            text-align: unset;
            font-weight: 600;
        }
    }
    #sign-up {
        text-align: center;
        background-color: #ECECEC;
        padding: .5vw 3vw 6vw;
        margin: 0 auto;
        width: 70%;
        border-radius: 10px;
        @include desktop {
            background-color: unset;
            padding: 0;
            width: unset;
        }
        p {
            font-size: 4.5vw;
            font-weight: 300;
            @include desktop {
                margin-bottom: 1vw;
                margin-top: 4vw;
                color: #ffffff;
                font-size: 1.75vw;
                font-weight: 600;
            }
            @include monitor {
                margin-bottom: .75vw;
                margin-top: 5.5vw;
                font-size: 1.25vw;
            }
        }
    }
}
