$colors: (
    // content
        mirage64: rgba(27, 37, 49, 0.64),
    // borders and accordion
        concrete: #F3F3F3
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.sign-up.modal {
    background-color: white;
    z-index: 1000;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 100px);
    padding: 2vw 2vw 3vw;
    border-radius: 10px;

    @include desktop {
        width: 60%;
    }

    #tutor-btns {
        justify-content: center;
    }

    .close-icon {
        right: 10px;
        top: 5px;
        position: absolute;
        cursor: pointer;
        color: color(mirage64);
    }

    #sign-up-text {
        text-align: center;
        font-weight: bold;
        margin: 1vw 0 2vw;
        @include desktop {
            margin: 1vw 0;
        }
        font-size: 1.25rem;
    }

    .user-title {
        font-size: .9em;
        margin: 2vw 0;
        text-transform: lowercase;
        font-weight: 300;
        text-align: center;

        @include desktop {
            font-size: 1em;
            margin: 1vw 0;
        }
    }

    section {
        background-color: color(concrete);
        border-radius: 10px;
        padding: 1px 1px 5px 1px;
        margin: 0 2vw 5vw;
        @include desktop {
            margin: 0 2vw 2vw;
            padding: 1px;
        }
    }

    #client-btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tutor-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @include desktop {
            justify-content: space-evenly;
        }
        flex-wrap: wrap;
    }
}
